<template>
    <v-app>
        <v-stepper v-model="step">
            <v-stepper-header>
                <v-stepper-step step="1" >&nbsp; Step 1 </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="2" >&nbsp; Step 2 </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3" >&nbsp; Step 3 </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="4" >&nbsp; Final </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
                <v-stepper-content step="1">
                    <v-select
                            v-model="product.category"
                            :items="items"
                            label="Product Category"
                            single-line
                            solo
                            :error="$v.product.category.$error"
                    ></v-select>
                    <span style="color:red" v-if="$v.product.category.$error">This information is required</span>

                    <v-btn
                            dark
                            color="primary"
                            @click="step1"
                    >
                        Continue
                    </v-btn>
                </v-stepper-content>


                <v-stepper-content step="2">
                    <v-text-field
                            v-model="product.title"
                            label=" Product Name"
                            single-line
                            solo
                            :error="$v.product.title.$error"
                            required
                    ></v-text-field>
                    <span style="color:red" v-if="$v.product.title.$error">This information is required</span>

                    <v-btn  dark @click="step = 1"  color="warning" >Previous</v-btn>
                    <v-btn dark color="primary" @click="step2">
                        Continue
                    </v-btn>

                </v-stepper-content>

                <v-stepper-content step="3">
                    <v-text-field
                            v-model="product.price"
                            prefix="$"
                            label=" Product Price"
                            single-line
                            :error="$v.product.price.$error"
                            solo
                            required
                    ></v-text-field>
                    <span style="color:red" v-if="$v.product.price.$error">This information is required</span>

                    <v-btn   dark @click="step = 2"  color="warning" >Previous</v-btn>
                    <v-btn dark color="primary" @click="step3">
                        Continue
                    </v-btn>

                </v-stepper-content>

                <v-stepper-content step="4">
                    <v-radio-group v-model="product.is_public">
                        <template v-slot:label>
                            <div><strong>Visibility</strong></div>
                        </template>
                        <v-radio value="yes" >
                            <template v-slot:label>
                                <div>Yes</div>
                            </template>
                        </v-radio>
                        <v-radio value="no" >
                            <template v-slot:label>
                                <div>No</div>
                            </template>
                        </v-radio>
                    </v-radio-group>

                    <v-btn
                            color="primary"
                            dark
                            @click="submit"
                    >
                        Save
                    </v-btn>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </v-app>
</template>

<script>
    import { required, numeric, requiredIf } from "vuelidate/lib/validators";
    import productService from '../../services/products/product'


    const productApi = new productService()
    export default {
        data() {
            return {
                step: 1,
                valid: true,
                product: {
                    price: '',
                    category: null,
                    title: '',
                    is_public: '',
                },
                items: [
                    'Accessories',
                    'Electrical',
                ],
            }
        },
        validations: {
            product:{
                category: { required },
                title: { required },
                price: {required,numeric},
            }
        },
        methods: {
            step1 () {
                this.$v.product.category.$touch()
                if (this.$v.product.category.$invalid) {
                    return false;
                } else {
                    return this.step = 2;
                }
            },

            step2 () {
                this.$v.product.title.$touch()
                if (this.$v.product.title.$invalid) {
                    return false;
                } else {
                    return this.step = 3;
                }
            },

            step3 () {
                this.$v.product.price.$touch()
                if (this.$v.product.price.$invalid) {
                    return false;
                } else {
                    return this.step = 4;
                }
            },

            submit () {
                this.$v.$touch()
                if (this.$v.$error) {
                    setTimeout(() => {
                        this.$v.$reset()
                    }, 3000);
                }
                else{
                    productApi
                        .create(this.product)
                        .then((response) => {
                            alert('Data inserted successfully');
                        })
                        .catch(err => {
                            alert('Error');
                        })
                        .finally(() => {

                        });
                }
            },
        },
    };
</script>